.facts {
  background: white;
  border: 1px solid black;
  float: left;
  padding: 0.5rem;
  width: 320px;

  table {
    border-collapse: collapse;
  }
}

.facts-header {
  padding: 0 0 0.25rem 0;
  margin: 0 0 0.5rem 0;

  p {
    margin: 0;
  }
}

.facts-title {
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
}

.facts-url {
  background: #e5e5e5;
  border-radius: 3px;
  color: #797979;
  display: inline-block;
  padding: 1px 6px;
  max-width: 100px;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  top: 5px;
  left: 10px;
}

.facts-table {
  width: 100%;

  thead tr {
    th, td {
      border: 0;
    }
  }

  th, td {
    font-weight: normal;
    text-align: left;
    padding: 0.25rem 0;
    border-top: 1px solid black;
    white-space: nowrap;
  }

  td:last-child {
    text-align: right;
  }
}

.facts-table-main {
  border-top: 10px solid black;
  border-bottom: 10px solid black;
  margin: 0 0 0.7rem 0;

  tr:last-child {
    th, td {
      border-top-width: 5px;
    }
  }

  .facts-percentage {
    border-radius: 3px;
    color: white;
    display: inline-block;
    min-width: 34px;
    padding: 0px 4px;
    text-align: center;

    &.good {
      background: #6bc500;
    }

    &.bad {
      background: #e60014;
    }
  }
}

.facts-table-small {
  color: #797979;
  margin: 0.3rem 0;

  tr {
    &:first-child {
      margin-top: 0.3rem;
    }

    &:last-child {
      margin-bottom: 0.3rem;
    }
  }

  td:last-child {
    text-align: left;
  }

  th, td {
    border: 0;
    padding: 0;
  }
}

.facts-table-small-header {
  border-bottom: 1px solid #999;
  color: #797979;
  margin-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.facts-table-small-footer {
  border-top: 1px solid #999;
  margin-top: 0.3rem;
  padding-top: 0.3rem;
  text-align: center;
}

.small-info {
  font-size: 0.7rem;
}
