.status {
  overflow: hidden;
  position: relative;
}

.status-geek {
  display: block;
  margin: 0 auto;
  padding: 20px;
  height: 315px;
}

.status-rays {
  -webkit-animation: 20s rays infinite linear;
  animation: 20s rays infinite linear;
  position: absolute;
  left: -100px;
  top: -100px;
  z-index: -1;
}

.status-msg {
  background: #e60014;
  color: #ffde00;
  padding: 10px;
  text-align: center;

  p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:first-child {
      font-size: 18px;
    }
  }

  a {
    color: #ffde00;
    border-bottom: 1px solid #ffde00;
    text-decoration: none;
  }
}

@-webkit-keyframes rays {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@keyframes rays {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}
